.faq-heading {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
  
  .faq-subHeading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #14181c;
  }
  
  li {
    list-style-type: none;
  }
  
  li.question {
    cursor: pointer;
    font-weight: bolder;
  }
  
  ul.box {
    padding: 10px 0 10px 10px;
    border: 2px solid #0F9294;
  }
  
  li.answer {
    padding-right: 25px;
    margin-top: 20px;
  }
  
  span.icon {
    float: right;
    width: 36px;
    height: 26px;
    padding-top: 10px;
    margin-top: -10px;
    padding-right: 15px;
  }
  
  div.faqs {
    padding: 0 10% 50px 10%;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    background-color: rgb(251, 251, 251);
  }
  
  @media (max-width: 1200px) {
    div.faqs {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  
  .rotate { 
  /* Standard */
    transform: rotate(45deg);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  
  .reverse {
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    z-index: 1000;
  }