{% extends 'base.html' %}

{% block content %}
<div class="py-5 text-center" id="survey">
    <div class="container">
        <div class="row">
            <div class="col-md-9 p-3">
                <h1 class="mb-0">Take our survey now to help us improve!</h1>
            </div>
            <div class="col-md-3 align-items-center d-flex justify-content-center p-3"><a class="btn btn-primary btn-lg"
                                                                                          href="#">Take Survey</a></div>
        </div>
    </div>
</div>
{% endblock %}