{% extends 'base.html' %}

{% block content %}
<div class="py-5" id="home">
    <div class="container">
        <div class="row">
            <div class="px-5 col-md-8 text-center mx-auto">
                <h3 class="text-primary display-4"><b>Welcome to Giftie</b></h3>
                <h2 class="my-3">To Be Your Best Gift Advisor</h2>
                <p class="mb-3">We provide you great gift recommendations at ease and continuously survey into people's
                    gift preferences to give you better advise!</p>
                <div class="row">
                    <div class="col-md-6"><a href="/gifts" class="btn btn-primary mx-0">View Our Gifts</a></div>
                    <div class="col-md-6"><a href="/survey" class="btn btn-primary mx-0">Take Our Survery</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}